<h3>Bill</h3>

<div class="bill">
  <tr>
      <th>Title</th>
      <th>Introduced</th>
      <th>Sponsor</th>
      <th>Committee</th>
      <th>Chamber</th>
      <th>Link</th>
  </tr>
{{#each model as |bill|}}
  <tr>
    <td>{{bill.official_title}}</td>
    <td>{{bill.introduced_on}}</td>
    <td>{{bill.sponsor.first_name}} {{bill.sponsor.last_name}}</td>
    <td>{{bill.committee_ids}}</td>
    <td>{{bill.chamber}}</td>
    <td><a href="{{bill.urls.govtrack}}">Click Here</a></td>
  </tr>
{{/each}}
</div>
